body{
  background-image: url("img/background/record-player.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  height: 100%;
}

nav{
  background-color: transparent;
}

#branco{
  background-color: white;
}

#sec{
  margin-top: 15cm;
  background-color: #fafafa;
  height: 500px;
  font-family: serif;
  font-size: 17px;
}

footer{
  margin-top: 15cm;
}

#icones{
  margin-left: 25cm;
}

#second{
  font-size: 26px;
  font-family: medium;

}